extends layout

block content
  h1(style='color: #ffd700;') #{title}

  .media-container
    each m in media  
      .media-card(style='border: 1px solid #ffd700; text-align: center; padding: 10px; margin: 10px; border-radius: 25px')
        img(style="padding-top: 20px; max-width: 100%; height: auto;" src=m.poster, alt='poster')
        h3
          a(href=`/media/${m._id}`, style='color: #ffd700; text-decoration: none;') #{m.title}
