doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") Home
      div
        a(href="/login") Login 
        a(href="/register") Register 
    block content
