extends layout

block content
  .form-container
    h1(style="color: #fff;") Login
    form(method="POST", action="/login")
      .form-group
        label(for="email") Email: 
        input(name="email", id="email", type="email", required)
      .form-group
        label(for="password") Password: 
        input(name="password", id="password", type="password", required)
      .form-group
        button(type="submit") Login
    p(style="color: #ddd;") No account? 
      a(href="/register", style="color: #ffd700; text-decoration: none;") Register here!
