extends layout

block content
  .form-container
    h1(style="color: #fff;") Register
    form(method="POST", action="/register")
      .form-group
        label(for="email") Email: 
        input(name="email", id="email", type="email", required)
      .form-group
        label(for="username") Username: 
        input(name="username", id="username", type="text", required)
      .form-group
        label(for="password") Password: 
        input(name="password", id="password", type="password", required)
      .form-group
        button(type="submit") Register
    p(style="color: #ddd;") Already have an account? 
      a(href="/login", style="color: #ffd700; text-decoration: none;") Login here!
