<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <div th:if="${user}">
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${user}">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>
    <div th:include="${content}"></div>
</body>
</html>